In [1]:
import pandas as pd

In [2]:
#Series using List Datatype

In [3]:
ice_cream = ["Choclate","Belgium","Strawberry","Mango","Vanilla"]
pd.Series(ice_cream)

0      Choclate
1       Belgium
2    Strawberry
3         Mango
4       Vanilla
dtype: object

In [4]:
lottery = [12,45,67,89,12]
pd.Series(lottery)

0    12
1    45
2    67
3    89
4    12
dtype: int64

In [5]:
registration = [True,False,True,True,False]
pd.Series(registration)

0     True
1    False
2     True
3     True
4    False
dtype: bool

In [6]:
#Series using Dictionary DataType

In [7]:
Fruits = { "WaterMelon" : "I love this fruit",
            "Apple" : "Keeps the doctor away",
             "Mango" : "Everyones favourite" 
         }

pd.Series(Fruits)

WaterMelon        I love this fruit
Apple         Keeps the doctor away
Mango           Everyones favourite
dtype: object

In [ ]:
#Attributes

In [9]:
import pandas as pd
about_me = ["Beautifull","Caring","Loving","Humble","Sweet"]
s = pd.Series(about_me)
s

0    Beautifull
1        Caring
2        Loving
3        Humble
4         Sweet
dtype: object

In [10]:
s.values

array(['Beautifull', 'Caring', 'Loving', 'Humble', 'Sweet'], dtype=object)

In [11]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [12]:
s.dtype

dtype('O')

In [ ]:
#Methods

In [14]:
import pandas as pd

number = [2.22,33.34,56.22,30.45]
s= pd.Series(number)
s

0     2.22
1    33.34
2    56.22
3    30.45
dtype: float64

In [15]:
s.sum()

122.23

In [16]:
s.product()

126705.8621052

In [17]:
s.mean()

30.5575

In [ ]:
#Parameter and Arguments

In [ ]:
#taking an Example of Vedio Game we have below options in Settings
#Difficulty -- Easy,Medium,Hard
#Volume -- 1 through 10
#Subtitles -- True,False (Means On or Off)

#Here Difficulty,Volume,Subtitle are Parameters .
#Here Option in Parameters are Arguments .

In [21]:
import pandas as pd
Fruits = [ "Apple","Banana","Mango","Oranges","Grapes","Watermelon","Melon"]
Weekdays = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturdy","Sunday"]
pd.Series(Fruits,Weekdays)
pd.Series(data = Fruits ,index = Weekdays)
pd.Series(Fruits,index=Weekdays)

#Above 3 are similar they will give same output .
#Index values do not have to be unique .

Monday            Apple
Tuesday          Banana
Wednesday         Mango
Thursday        Oranges
Friday           Grapes
Saturdy      Watermelon
Sunday            Melon
dtype: object

In [22]:
Fruits = [ "Apple","Banana","Mango","Oranges","Grapes","Watermelon","Melon"]
Weekdays = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturdy","Monday"]
pd.Series(Fruits,Weekdays)
pd.Series(data = Fruits ,index = Weekdays)
pd.Series(Fruits,index=Weekdays)

Monday            Apple
Tuesday          Banana
Wednesday         Mango
Thursday        Oranges
Friday           Grapes
Saturdy      Watermelon
Monday            Melon
dtype: object

In [ ]:
#Import Series with Read CSV

In [23]:
import pandas as pd
pd.read_csv("pokemon.csv")

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [27]:
pokemon = pd.read_csv("pokemon.csv",usecols = ["Pokemon"],squeeze=True)
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [ ]:
#squeeze will turn dataframe to series but in that case only if we are extracting one columns from a csv .
#usecols is to col one columns

In [30]:
import pandas as pd

google=pd.read_csv("google_stock_price.csv",usecols=["Stock Price"],squeeze=True)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [1]:
# Exercise Question

In [ ]:
# Assume the pandas library has already been imported and assigned the alias "pd".

# Let's say we have a foods.csv CSV file with 3 columns: Item Number, Menu Item, Price
# The raw CSV data looks like this:
#
# Item Number,Menu Item,Price
# 1,Big Mac,4.99
# 2,McNuggets,7.99
# 3,Quarter Pounder,3.99
#
# Import the CSV file into a Pandas Series object
# The Series should have the standard Pandas numeric index
# The Series values should be the string values from the "Menu Item" column
# Assign the Series object to a "foods" variable

In [11]:
import pandas as pd
foods = pd.read_csv("food.csv",usecols = ["Menu Item"],squeeze=True)
foods

0            Big Mac
1          McNuggets
2    Quarter Pounder
Name: Menu Item, dtype: object

In [19]:
import pandas as pd 
pokemon = pd.read_csv("pokemon.csv",usecols = ["Pokemon"],squeeze=True)
pokemon
pokemon.tail(21)

700     Hawlucha
701      Dedenne
702      Carbink
703        Goomy
704      Sliggoo
705       Goodra
706       Klefki
707     Phantump
708    Trevenant
709    Pumpkaboo
710    Gourgeist
711     Bergmite
712      Avalugg
713       Noibat
714      Noivern
715      Xerneas
716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object